<div class="rating-stars-wrapper" [formGroup]="this.reviewFormGroup">
    
    <input type="radio" name="puntaje" value="5" id="id-5" [value]="5" formControlName="puntaje" >
    <label for="id-5"></label>

    <input type="radio" name="puntaje" value="4" id="id-4" formControlName="puntaje">
    <label for="id-4"></label>

    <input type="radio" name="puntaje" value="3" id="id-3" formControlName="puntaje">
    <label for="id-3"></label>

    <input type="radio" name="puntaje" value="2" id="id-2" formControlName="puntaje">
    <label for="id-2"></label>

    <input type="radio" name="puntaje" value="1" id="id-1" formControlName="puntaje">
    <label for="id-1"></label>
</div>