.form-error {
    color: red;
    font-size: .75em;
    margin-top: .5em;
}

label {
    font-weight: 500;
    color: var(--color-text-secondary);
}

input, textarea, select {
    color: var(--color-text-primary);
    background-color: var(--color-bg);
}

input:read-only {
    color: var(--color-text-primary);
    background-color: var(--color-input-disabled);
}

input:disabled {
    color: var(--color-text-primary);
    background-color: var(--color-input-disabled);
    text-decoration-line: line-through;
}

input::placeholder {
    color: var(--color-text-secondary);
}

.span-delete {
    color: var(--color-text-secondary);
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.trash-icon {
    font-size: 2em;
}