<div class="container">
    <h3>Mis reseñas</h3>

    <div *ngIf="reviews.length === 0; else withReviews">
        <p>{{this.message}}</p>
    </div>

    <ng-template #withReviews>
        <div class="list-container">
            <div class="review-card-with-link" *ngFor="let reviewItem of reviews" >
                <app-review-item [review]="reviewItem"> </app-review-item>
                <a 
                    class="product-link"
                    [routerLink]="[`/products/${reviewItem.idProducto}`]">
                    Ver producto
                    <i class='bx bx-chevron-right'></i>   
                </a>
            </div>
            
        </div>
    </ng-template>
</div>
