<div class="container mt-5">

   <div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
      <h2 class="mb-4">Perfil de Usuario</h2>
      <div style="margin-left: 2rem; margin-top: 0.5rem;">
      <button  class="btn btn-outline-danger mt-auto" (click)="eliminarPerfil()" >Eliminar</button>
        </div>
    </div>
    <div style="position: relative; display: inline-block;">
      <img src="{{usuario['imagen']}}" alt="Imagen no disponible" class="rounded-circle">
      <input type="file" id="fileInput" accept="image/*" style="display: none;" (change)="cambiarImagen($event)">
      <button onclick="document.getElementById('fileInput').click()" class="btn btn-sm btn-primary" style="position: absolute; bottom: 0; right: 0; border-radius: 50%; padding: 4px 6px; background-color: azure;">
    ✏️
  </button>
    </div>
  </div>

  <div class="card p-4 shadow-sm">
 
    <!-- Nombre -->
    <div class="mb-3">
      <label class="form-label fw-bold">Nombre</label>
      
      <div *ngIf="!editandoCampo['nombre']" (click)="editarCampo('nombre')" class="form-control bg-light">
        {{ usuario['nombre'] }}
      </div>
      
      <div *ngIf="editandoCampo['nombre']" class="d-flex gap-2">
        <button (click)="reset('nombre')" *ngIf="usuario['nombre'] != usuarioCopia['nombre']" class="boton-solo-icono">
  <span class="flecha-izquierda">⭮</span>
</button>

        <input type="text" [(ngModel)]="usuario['nombre']" class="form-control" #inputNombre>
        <button *ngIf="usuario['nombre'] != usuarioCopia['nombre'] && usuario['nombre'] != '' " class="btn btn-success btn-sm" (click)="guardarCampo('nombre')">Guardar</button>
      </div>
    </div>


    <!-- Apellido -->
    <div class="mb-3">
      <label class="form-label fw-bold">Apellido</label>
      <div *ngIf="!editandoCampo['apellido']" (click)="editarCampo('apellido')" class="form-control bg-light">
        {{ usuario['apellido'] }}
      </div>
      <div *ngIf="editandoCampo['apellido']" class="d-flex gap-2">
        <button (click)="reset('apellido')" *ngIf="usuario['apellido'] != usuarioCopia['apellido']" class="boton-solo-icono">
  <span class="flecha-izquierda">⭮</span>
</button>
        <input type="text" [(ngModel)]="usuario['apellido']" class="form-control" #inputApellido>
        <button *ngIf="usuario['apellido'] != usuarioCopia['apellido'] && usuario['apellido'] != '' " class="btn btn-success btn-sm" (click)="guardarCampo('apellido')">Guardar</button>
      </div>
    </div>


    <!-- Nombre de usuario -->
    <div class="mb-3">
      <label class="form-label fw-bold">Nombre de usuario</label>
      <div *ngIf="!editandoCampo['username']" (click)="editarCampo('username')" class="form-control bg-light">
        {{ usuario['username'] }}
      </div>
      <label *ngIf="controlExistencia['username']" class="text-danger">¡El nombre de usuario ya existe! Ingrese otro</label>
      <div *ngIf="editandoCampo['username']" class="d-flex gap-2">
        <button (click)="reset('username')" *ngIf="usuario['username'] != usuarioCopia['username']" class="boton-solo-icono">
  <span class="flecha-izquierda">⭮</span>
</button>
        <input type="text" [(ngModel)]="usuario['username']" class="form-control" #inputUsername>
        <button *ngIf="usuario['username'] != usuarioCopia['username'] && usuario['username'] != '' " class="btn btn-success btn-sm" (click)="guardarCampo('username')">Guardar</button>
      </div>
    </div>


    <!-- Correo -->
    <div class="mb-3">
      <label class="form-label fw-bold">Correo</label>
      <div *ngIf="!editandoCampo['correo']" (click)="editarCampo('correo')" class="form-control  bg-light">
        {{ usuario['correo'] }}
      </div>
      <label *ngIf="controlExistencia['correo']" class="text-danger">¡El correo ya existe! Ingrese otro</label>
      
      <div *ngIf="editandoCampo['correo']" class="d-flex gap-2">
        <button (click)="reset('correo')" *ngIf="usuario['correo'] != usuarioCopia['correo']" class="boton-solo-icono">
  <span class="flecha-izquierda">⭮</span>
</button>
        <input type="email" [(ngModel)]="usuario['correo']" class="form-control" #inputCorreo>
        <button *ngIf="usuario['correo'] != usuarioCopia['correo'] && usuario['correo'] != '' " class="btn btn-success btn-sm" (click)="guardarCampo('correo')">Guardar</button>
      </div>
    </div>
  </div>
</div>
