<div class="container mt-5">
  <h2 class="mb-4">Perfil de Usuario</h2>

  <div class="card p-4 shadow-sm">
    <!-- Nombre -->
    <div class="mb-3">
      <label class="form-label fw-bold">Nombre</label>
      <div *ngIf="!editandoCampo['nombre']" (click)="editarCampo('nombre')" class="form-control bg-light">
        {{ usuario['nombre'] }}
      </div>
      
      <div *ngIf="editandoCampo['nombre']" class="d-flex gap-2">
        <input type="text" [(ngModel)]="usuario['nombre']" class="form-control">
        <button *ngIf="usuario['nombre'] != usuarioCopia['nombre']" class="btn btn-success btn-sm" (click)="guardarCampo('nombre')">Guardar</button>
      </div>
    </div>

    <!-- Apellido -->
    <div class="mb-3">
      <label class="form-label fw-bold">Apellido</label>
      <div *ngIf="!editandoCampo['apellido']" (click)="editarCampo('apellido')" class="form-control bg-light">
        {{ usuario['apellido'] }}
      </div>
      <div *ngIf="editandoCampo['apellido']" class="d-flex gap-2">
        <input type="text" [(ngModel)]="usuario['apellido']" class="form-control">
        <button *ngIf="usuario['apellido'] != usuarioCopia['apellido']" class="btn btn-success btn-sm" (click)="guardarCampo('apellido')">Guardar</button>
      </div>
    </div>

    <!-- Nombre de usuario -->
    <div class="mb-3">
      <label class="form-label fw-bold">Nombre de usuario</label>
      <div *ngIf="!editandoCampo['username']" (click)="editarCampo('username')" class="form-control bg-light">
        {{ usuario['username'] }}
      </div>
      <label *ngIf="controlExistencia['username']" class="text-danger">¡El nombre de usuario ya existe! Ingrese otro</label>
      <div *ngIf="editandoCampo['username']" class="d-flex gap-2">
        <input type="text" [(ngModel)]="usuario['username']" class="form-control">
        <button *ngIf="usuario['username'] != usuarioCopia['username']" class="btn btn-success btn-sm" (click)="guardarCampo('username')">Guardar</button>
      </div>
    </div>

    <!-- Correo -->
    <div class="mb-3">
      <label class="form-label fw-bold">Correo</label>
      <div *ngIf="!editandoCampo['correo']" (click)="editarCampo('correo')" class="form-control bg-light">
        {{ usuario['correo'] }}
      </div>
      <label *ngIf="controlExistencia['correo']" class="text-danger">¡El correo ya existe! Ingrese otro</label>
      <div *ngIf="editandoCampo['correo']" class="d-flex gap-2">
        <input type="email" [(ngModel)]="usuario['correo']" class="form-control">
        <button *ngIf="usuario['correo'] != usuarioCopia['correo']" class="btn btn-success btn-sm" (click)="guardarCampo('correo')">Guardar</button>
      </div>
    </div>
  </div>
</div>
