.content-wrapper {
  position: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 0.5rem;
  overflow-x: hidden;
  flex: 1; 
  background-color: var(--color-surface);
}

.content-wrapper {
  box-sizing: border-box;
}

.grid-container {
    width: 100%;
  }

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* La grilla será flexible */
    gap: 2rem; 
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2rem;
  }

  select {
    color: var(--color-text-primary);
    background-color: var(--color-surface);
    border: 1px solid var(--shadow-border);
    padding: 0.2rem 0.4rem;
}

  .grid-header-buttons span {
    color: var(--color-text-primary);
    margin-left: 1rem;
    padding-right: 0.5rem;
  }

  .grid-header-buttons {
    margin: 1rem;
  }

   .grid-header {
    display: flex;
    align-items: center;
    width: 100%;
   }


  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .pagination-controls button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--shadow-border); 
    color: var(--color-text-primary);
    cursor: pointer;
    border-radius: 4px;
  }

  .pagination-controls button.active {
    background-color: var(--color-surface);
  }