<div class="marcas-container">
<div class="slider" 
     [class.carrousel-activo]="esCarrouselActivo"
     [style.--width]="'7rem'" 
     [style.--height]="'7rem'" 
     [style.--quantity]="marcasSorted.length">

  <div class="list">
    <div 
      class="item" 
      *ngFor="let marca of marcasSorted; let i = index" 
      [style.--position]="i"
      [class.animar]="esCarrouselActivo"
      (click)="handleMarcaClick(marca)">
      
      <div class="marca-card" [class.active]="marca === selectedMarca ">
        <p>{{ marca }}</p>
      </div>
    </div>
  </div>
</div>
</div>