
<ng-container *ngTemplateOutlet="templateActual; context: contextoActual"></ng-container>



<ng-template #conProductos>
  
<div class="container mt-4 content-mode">
  <h2 class="fw-bold mb-4">Mis pedidos</h2>

  <div class="d-flex align-items-center mb-3 gap-3">
    <input type="text" class="form-control w-50" placeholder="Buscar..." [(ngModel)]="searchText">
    
    <span class="content-mode">{{ productosFiltrados().length }} compras</span>
  </div>

    <div *ngFor="let compra of productosFiltrados()" class="card border-0 border-bottom px-3 py-3 d-flex flex-md-row align-items-center justify-content-between content-mode">
      
      <div class="d-flex align-items-center gap-3">
        <img [src]="compra.imagen" class="img-thumbnail" style="width: 64px; height: 64px; object-fit: cover;">
        <div>
          <div class="text-success fw-semibold small"> {{compra.fechaCompra}}</div>
          <div class="fw-bold">{{ compra.nombre }}</div>
          <div class="small">${{compra.precio}}</div>
        </div>
      </div>

      <div class="d-none d-md-block text-end text-muted small">
        {{ compra.marca }} <br>
        <a href="#" class="text-primary">Dejar reseña</a>
      </div>

      <div class="d-flex flex-column gap-2">
        <button class="btn btn-primary btn-sm" (click)="verCompra(compra)">Ver compra</button>
        <button class="btn btn-outline-primary btn-sm" (click)="volverAComprar(compra.id)">Volver a comprar</button>
      </div>
    </div>
</div>

</ng-template>
  


<ng-template #sinProductos>
  <h1 class="text-center content-mode">No has realizado ninguna compra</h1>
  
</ng-template>

<ng-template #detalleCompra let-dato>
 <div class="container mt-4 content-mode">
  <h2 class="mb-4 content-mode">Detalle del Producto</h2>

  
    <div class="row g-0">
      <!-- Imagen del producto -->
      <div class="col-md-4">
        <img [src]="dato.imagen" class="img-fluid rounded-start" alt="{{ dato.nombre }}" style="object-fit: cover; height: 100%;">
      </div>

      <!-- Detalle del producto -->
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ dato.nombre }}</h5>
          <h6 class="card-subtitle mb-2">{{ dato.marca_nombre }}</h6>
          <p class="card-text">{{ dato.descripcion }}</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Precio compra:</strong> ${{ dato.precioUnitario }}</li>
            <li class="list-group-item"><strong>Cantidad:</strong> {{ dato.cantidad }}</li>
            <li class="list-group-item"><strong>Total:</strong> ${{ dato.precioUnitario * dato.cantidad }}</li>
            <li class="list-group-item"><strong>Fecha de compra:</strong> {{ dato.fechaCompra }}</li>
            <li class="list-group-item"><strong>Departamento:</strong> {{ dato.depto }}</li>
            <li class="list-group-item"><strong>Dirección:</strong> {{ dato.direccion }}</li>
          </ul>
        </div>
      </div>
      <div class="container mt-4">
  <button class="btn btn-outline-secondary mb-3" (click)="volverAtras()">
    ← Volver
  </button>
</div>
    </div>
</div>
</ng-template>

 