
    <div class="image-wrapper">
      <div class="card" style="width: 18rem;">
        <div class="img-container">

          <ng-container *ngIf="user.username != undefined && user.isAdmin == false">
            <div class="icons-container">
              <div class="sum-icons-container">
                <i class='bx bx-minus icono' (click)="minusQuantity()"></i>
                <span class="number icono">{{quantity}}</span>
                <i class='bx bx-plus icono' (click)="plusQuantity()"></i>
              </div>
              <i class='bx bx-cart-add icono cart' data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al carrito" (click)="agregarAlCarrito(quantity)"></i>
            </div>
          </ng-container>

          <ng-container *ngIf="user.isAdmin == true">
            <div class="icon-container trash">
              <div class="icon-container-border">
                <i class='bx bx-trash' data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar producto" (click)="alertDeleteConfirmation()"></i> 
              </div>
            </div>
            <div *ngIf="producto.stock > 0" class="icons-container">
              <div class="sum-icons-container">
                <i class='bx bx-minus icono' (click)="minusQuantity()"></i>
                <span class="number icono">{{quantity}}</span>
                <i *ngIf="producto.stock != quantity" class='bx bx-plus icono' (click)="plusQuantity()"></i>
              </div>

              <div class="icon-container brush">
                <div class="icon-container-border">
                  <i class='bx bx-brush' data-bs-toggle="tooltip" data-bs-placement="top" title="Editar producto" [routerLink]="['/product-form/update', producto.id]"></i> 
                </div>
              </div>
          </div>
          </ng-container>

            <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.nombre}}" id="img">
            <a [routerLink]="['/products', producto.id]" routerLinkActive="router-link-active" (click)="enviarPadre()"><div class="img-footer"><span>Ver Detalle</span></div></a>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="cursor: pointer;" [routerLink]="['/products', producto.id]" routerLinkActive="router-link-active">{{producto.nombre}}</h5>
          <p class="card-price" style="color: rgb(226, 94, 94);">{{producto.precio | currency}}</p>
          <div class="resena-container"><app-review-stars [producto]="producto"></app-review-stars></div>
          <p class="alert-info" style="color: #2e7d32" *ngIf="producto.stock <= 0">SIN STOCK</p>
        </div>
      </div>
    </div>
      

     