<div class="main-container" #topOfDetails>
  <div *ngIf="producto as p" class="details-container">
    
    <div class="details-content">
      <div class="details-top">

        <div class="arrow"  [routerLink]="['/products/category', p.categoria]" routerLinkActive="router-link-active">
          <i class="bx bx-chevron-left"></i>
        </div>

        <div class="image-section">
          <img [src]="p.imagen" alt="{{ p.nombre }}" />
        </div>
      
        <div class="info-section">
          <h1>{{ p.nombre }}</h1>
          <p class="price">{{ p.precio | currency:'USD' }}</p>
          <app-review-stars [producto]="producto"></app-review-stars>
          <p class="description">{{ p.descripcion }}</p>
          <p class="category">Categoría: {{ p.categoria }}</p>
          <p class="stock" [ngClass]="{ 'out': p.stock === 0 || quantity > p.stock }">
            {{ p.stock > 0 && quantity <= p.stock ? 'Stock disponible' : 'Sin stock' }}
          </p>

          <div *ngIf="producto.stock > 0" class="buttons-container">
            <div class="sum-icons-container">
              <i class='bx bx-minus icono' (click)="minusQuantity()"></i>
              <span class="number icono">{{quantity}}</span>
              <i class='bx bx-plus icono' (click)="plusQuantity()"></i>
            </div>
            <button [disabled]="p.stock === 0 || quantity > p.stock" (click)="agregarAlCarrito(quantity)">Agregar al carrito</button>
          </div>
          
        </div>
      </div>
    <div class="footer-container">

      <div class="footer-info">
        <span [class.active]="activeTab === 'general'" (click)="selectTab('general')">Detalles Generales</span>
        <span [class.active]="activeTab === 'additional'" (click)="selectTab('additional')">Detalles Adicionales</span>
      </div>

      <div class="info-container general" *ngIf="activeTab === 'general'" #generalInfo>
        <p >Descripcion: {{ p.descripcion }}</p>
        <p >Categoria: {{ p.categoria }}</p>
      </div>

      <div class="info-container additional" *ngIf="activeTab === 'additional'">
        <p >Material: Plastico</p>
      </div>
      
      <div class="info-container mb-4">
        <app-review-list [product]="this.producto"></app-review-list>
      </div>

      <div *ngIf="this.reviewHabilitado" class="info-container mb-4 pb-1">
        <app-review-form  
          [productId]="this.producto.id.toString()"
          [username]="this.currentUsername">
        </app-review-form>
      </div>

      <div class="footer">
        <h2>Otros articulos que podrian interesarte:</h2>
      </div>
      
      <div class="product-carrousel"></div>
        <div class="product-grid">
          <div *ngFor="let producto of productosSimilaresRandom" class="product-card">
            <app-product-card [producto]="producto" (ejecutarTopPadre)="top()"></app-product-card>
          </div>
        </div>  
      </div>
      
  </div>
</div>