<footer class="footer">
    <section class="footer-content">
      <div class="footer-main">
        <a href="#" class="footer-logo-link">
            <img src="../assets/img/LogoD.png" class="footer-logo logoD" alt="Logo Light">
            <img src="../assets/img/LogoL.png" class="footer-logo logoL" alt="Logo Dark">
        </a>
  
        <div class="footer-divider"></div>

        <nav class="footer-links">
          <a href="#" class="footer-link">Sobre Nosotros</a>
          <a href="#" class="footer-link">Servicios</a>
          <a href="#" class="footer-link">FAQS</a>
          <a href="#" class="footer-link">Contacto</a>
        </nav>

        <div class="footer-divider"></div>
  
        <article class="footer-contact">
          <h4 class="footer-copy">Contact us:</h4>
          <p class="footer-info">Email: NextRig.com</p>
          <p class="footer-info">Telefono: 999-999-999</p>
          <p class="footer-info">Direccion: Av. Cachimba del Rey entre Bvar. Artigas y Av. Aparicio Saravia</p>
        </article>
  
        <form class="footer-newsletter">
            <input type="text" placeholder="Nombre" class="footer-name">
          <input type="email" placeholder="Email" class="footer-email">
          <input type="submit" value="Suscribete" class="footer-submit">
        </form>
  
        <nav class="footer-social">
          <a href="#" class="footer-social-links">
            <i class='bx bxl-linkedin-square footer-media' ></i>
          </a>
          <a href="#" class="footer-social-links">
            <i class='bx bxl-facebook-circle footer-media'></i>
          </a>
          <a href="#" class="footer-social-links">
            <i class='bx bxl-twitter footer-media'></i>
          </a>
        </nav>
      </div>
  
      <div class="footer-copyright">
        <p class="footer-copyright-text">
          &copy; 2025 NextRig - Todos los Derechos reservados.
        </p>
      </div>
    </section>
  </footer>